.opacity {
    opacity: 0.6;
}

@mixin align-middle {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

button {
    @include align-middle;
    border: none;
}

::ng-deep a {
    @include align-middle;
}

::ng-deep .ant-switch-checked {
    background-color: rgb(12, 180, 12);
}
td > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.col_ {
    &_index {
        width: 5%;
    }
    &_name {
        width: 17%;
    }
    &_gender {
        width: 8%;
    }
    &_birthday {
        width: 10%;
    }
    &_email {
        width: 20%;
    }
    &_phone {
        width: 15%;
    }
    &_status {
        width: 10%;
    }
    &_btn {
        width: 7.5%;
    }
}

@media only screen and (max-width: 1150px) {
    ::ng-deep .ant-table-thead {
        display: none;
    }
    ::ng-deep .ant-table-row {
        display: inherit;
        min-width: 100% !important;
        border: 0.5px solid;
    }
    .view-table-mobile {
        ::ng-deep table {
            table-layout: unset;
            display: grid;
        }
        max-width: 100% !important;
        ::ng-deep .ant-table-cell {
            display: flex;
            justify-content: flex-start;
            padding: 10px;
        }

        td:before {
            position: relative;
            min-width: 110px !important;
        }

        td:nth-of-type(1):before {
            content: "Index: ";
            font-weight: bolder;
        }
        td:nth-of-type(2):before {
            content: "Fullname: ";
            font-weight: bolder;
        }
        td:nth-of-type(3):before {
            content: "Gender: ";
            font-weight: bolder;
        }
        td:nth-of-type(4):before {
            content: "Birthday: ";
            font-weight: bolder;
        }
        td:nth-of-type(5):before {
            content: "Email: ";
            font-weight: bolder;
        }
        td:nth-of-type(6):before {
            content: "Phone number: ";
            font-weight: bolder;
        }
        td:nth-of-type(7):before {
            text-align: left;
            content: "Status: ";
            font-weight: bolder;
        }
        td:nth-of-type(8):before {
            text-align: left;
            content: "Edit: ";
            font-weight: bolder;
        }
        td:nth-of-type(9):before {
            text-align: left;
            content: "Delete: ";
            font-weight: bolder;
        }
    }
    // .inner-content {
    // overflow-x: scroll;

    // nz-table {
    //     min-width: 1280px;
    // }
    // }
}
