<nz-header class="p-1 pr-3">
    <div class="col-1 col-sm-0 col-md-0"></div>
    <h2 class="col-6 col-sm-9 col-md-10 m-0 h-title">List User</h2>
    <button class="col-5 col-sm-3 col-md-2"
            nz-button
            nzType="primary"
            (click)="new()">New</button>
</nz-header>
<nz-content>
    <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
        <nz-table #nzTable
                  class="view-table-mobile"
                  [nzData]="users"
                  [nzNoResult]="nodata"
                  nzTableLayout="fixed">
            <thead>
                <tr>
                    <th class="col__index"></th>
                    <th class="col__name">Fullname </th>
                    <th class="col__gender">Gender</th>
                    <th class="col__birthday">Birthday</th>
                    <th class="col__email">Email</th>
                    <th class="col__phone">Phone Number</th>
                    <!-- <th>Username</th>
                    <th>Password</th>
                    <th>Status</th> -->
                    <th class="col__status text-center">Status</th>
                    <th class="col__btn"></th>
                    <th class="col__btn"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of nzTable.data; let i = index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.fullname }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.birthday | date: 'dd-MM-yyyy'}}</td>
                    <td>{{ data.email }}</td>
                    <td>({{data.phoneNumberPrefix}}) {{ data.phoneNumber }}</td>
                    <td class="text-center">
                        <nz-switch [ngModel]="data.status === 'active' ? true : false"
                                   [nzLoading]="checkLoading(data.id)"></nz-switch>
                        <span (click)="changeStatus(data)"></span>
                    </td>
                    <td class="text-center">
                        <i nz-icon
                           nzType="edit"
                           nzTheme="outline"
                           style="color: #faad14;"
                           (click)="update(data)"></i>
                    </td>
                    <td class="text-center">
                        <i nz-icon
                           nzType="delete"
                           nzTheme="outline"
                           style="color:#f5222d"
                           (click)="showConfirm(data.id)"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #nodata>
            <!-- <div class="d-fex flex-column"> -->
            <!-- <i nz-icon
                   nzType="dropbox"
                   nzTheme="outline"
                   class="opacity"
                   style="font-size: 60px;"></i>
                <p>No Data</p> -->
            <nz-empty nzNotFoundImage="simple"></nz-empty>
            <!-- </div> -->
        </ng-template>
        <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div class="ant-table-filter-dropdown">
                        <div class="search-box">
                            <input type="text"
                                   nz-input
                                   placeholder="Search name"
                                   [(ngModel)]="searchValue" />
                            <button nz-button
                                    nzSize="small"
                                    nzType="primary"
                                    (click)="search()"
                                    class="search-button">
                                Search
                            </button>
                            <button nz-button
                                    nzSize="small"
                                    (click)="reset()">Reset</button>
                        </div>
                    </div>
                </nz-dropdown-menu> -->
        <!-- </div> -->
        <!-- </div> -->
    </div>
</nz-content>