<div class="p-2">
    <div class="row">
        <h1 class="col-11">Add Product</h1>
        <div class="col-1">
            <button class="btn btn-primary w-100"
                    routerLink="/product">Back</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <form class="col-6"
              [formGroup]="formProduct"
              (submit)="save()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input type="text"
                           formControlName="name"
                           class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Price</label>
                    <input type="text"
                           formControlName="price"
                           class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Type</label>
                    <select formControlName="type"
                            class="form-control">
                        <option value="">Select type...</option>
                        <option [value]="type.value"
                                *ngFor="let type of types">{{type.label}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Trademark</label>
                    <select formControlName="trademark"
                            class="form-control">
                        <option value="">Select trademark...</option>
                        <option [value]="trademark.value"
                                *ngFor="let trademark of trademarks">{{trademark.label}}</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="formProduct.invalid">Save</button>
            </div>
        </form>
    </div>
</div>