<!-- <div class="p-4">
    <div class="row border p-2 m-0">
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label">Thời gian bắt đầu</label>
            <div class="col-sm-6">
                <p-calendar inputStyleClass="form-control"
                            [(ngModel)]="startTime"
                            hourFormat="24"
                            [timeOnly]="true"></p-calendar>
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label">Thời gian kết thúc</label>
            <div class="col-sm-6">
                <p-calendar inputStyleClass="form-control"
                            [(ngModel)]="endTime"
                            hourFormat="24"
                            [timeOnly]="true"
                            [disabled]="startTime === null"></p-calendar>
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label">Thời gian lặp (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control"
                       [(ngModel)]="repeatTime"
                       (focusout)="setTimeLine()"
                       [disabled]="endTime === null">
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label">Thời gian di chuyển (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control"
                       [(ngModel)]="moveTime">
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label">Thời gian nghỉ (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control" [(ngModel)]="breakTime">
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-3 p-2 border">
            <div class="d-flex flex-column">
                <div class="form-group border p-2"
                     *ngFor="let station of stations">
                    <label>{{station.name}}</label>
                    <div class="d-flex flex-column">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Số xe</label>
                            <div class="col-sm-6">
                                <input type="number"
                                       class="form-control"
                                       [(ngModel)]="station.totalVehicle">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Số tài xế</label>
                            <div class="col-sm-6">
                                <input type="number"
                                       class="form-control"
                                       [(ngModel)]="station.totalDriver">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">Số xe dự phòng</label>
                            <div class="col-sm-6">
                                <input type="number"
                                       class="form-control"
                                       [(ngModel)]="station.totalVehicleBackup">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 border p-2">
            <div class="tab-sets">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           [ngClass]="{'active': selectStation === 0}"
                           (click)="changeStation(0)">Bến xe A -> Bến xe B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           [ngClass]="{'active': selectStation === 1}"
                           (click)="changeStation(1)">Bến xe B -> Bến xe A</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="form-group row m-1"
                     *ngFor="let t of timelines[selectStation]">
                    <label class="col-sm-2 col-form-label">{{t.label | date:'HH:mm'}}</label>
                    <div class="col-sm-10">
                        <select class="form-control w-25"
                                [(ngModel)]="t.value">
                            <option value="{{level.value}}"
                                    *ngFor="let level of levels">{{level.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right p-2">
        <button type="button"
                class="btn btn-primary"
                (click)="createSchedule()">Tạo lịch trình</button>
    </div>
    <div>
        <table border="solid">
            <tr class="text-center">
                <th>Giờ</th>
                <th>Bến xe A</th>
                <th>Bến Xe B</th>
            </tr>
            <tr *ngFor="let timeline of timelines[0]">
                <td class="p-1">
                    {{timeline.label | date:'HH:mm'}}
                </td>
                <td class="p-1">
                    <div class="d-flex flex-column">
                        <div class="p-1 cursor d-flex"
                             (dblclick)="clearSelect($event)"
                             *ngFor="let schedule of getScheduleOfStation(timeline.label,0)">
                            <div class="p-1"
                                 [ngClass]="{'bg-success': schedule?.driver?.id && select === schedule?.driver.id}"
                                 (click)="setSelect(schedule.driver.id)">
                                {{schedule?.driver?schedule.driver.name:'Không đủ tài xế'}}</div> *
                            <div class="p-1"
                                 [ngClass]="{'bg-primary': schedule?.vehicle?.id && select === schedule?.vehicle.id}"
                                 (click)="setSelect(schedule.vehicle.id)">
                                {{schedule?.vehicle?schedule.vehicle.name:'Không đủ xe'}}</div>
                        </div>
                    </div>
                </td>
                <td class="p-1">
                    <div class="d-flex flex-column">
                        <div class="d-flex cursor"
                             (dblclick)="clearSelect($event)"
                             *ngFor="let schedule of getScheduleOfStation(timeline.label,1)">
                            <div class="p-1"
                                 [ngClass]="{'bg-success': schedule?.driver?.id && select === schedule?.driver.id}"
                                 (click)="setSelect(schedule.driver.id)">
                                {{schedule?.driver?schedule.driver.name:'Không đủ tài xế'}}</div> *
                            <div class="p-1"
                                 [ngClass]="{'bg-primary': schedule?.vehicle?.id && select === schedule?.vehicle.id}"
                                 (click)="setSelect(schedule.vehicle.id)">
                                {{schedule?.vehicle?schedule.vehicle.name:'Không đủ xe'}}</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div> -->