<div class="p-4">
    <div class="row border p-2 m-0">
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label p-0">Thời gian bắt đầu</label>
            <div class="col-sm-6">
                <p-calendar inputStyleClass="form-control"
                            [(ngModel)]="startTime"
                            hourFormat="24"
                            [timeOnly]="true"></p-calendar>
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label p-0">Thời gian kết thúc</label>
            <div class="col-sm-6">
                <p-calendar inputStyleClass="form-control"
                            [(ngModel)]="endTime"
                            hourFormat="24"
                            [timeOnly]="true"
                            [disabled]="startTime === null"></p-calendar>
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label p-0">Thời gian lặp (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control"
                       [(ngModel)]="repeatTime"
                       (focusout)="setTimeLine()"
                       [disabled]="endTime === null">
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label p-0">Thời gian di chuyển (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control"
                       [(ngModel)]="moveTime">
            </div>
        </div>
        <div class="form-group col-3 row m-0 p-0">
            <label class="col-sm-6 col-form-label p-0">Thời gian nghỉ (phút)</label>
            <div class="col-sm-6">
                <input type="number"
                       class="form-control"
                       [(ngModel)]="breakTime">
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-4 p-2 border">
            <div class="d-flex flex-column">
                <div class="form-group border p-2"
                     *ngFor="let station of stations; let stationIndex = index;">
                    <label>{{station.name}}</label>
                    <div class="d-flex flex-column">
                        <div>
                            <div class="mb-2">Xe :</div>
                            <div class="border p-1 m-1">
                                <div class="d-flex row"
                                     *ngFor="let v of station.vehicles; let vehicleIndex = index;">
                                    <div class="form-group col-5 d-flex mb-0">
                                        <label class="w-50 col-form-label">Số xe</label>
                                        <div class="w-50">
                                            <input type="number"
                                                   class="form-control"
                                                   [(ngModel)]="v.amount">
                                        </div>
                                    </div>
                                    <div class="form-group col-5 d-flex mb-0">
                                        <label class="w-50 col-form-label">Số ghế</label>
                                        <div class="w-50">
                                            <input type="number"
                                                   class="form-control"
                                                   [(ngModel)]="v.type">
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <svg width="1em"
                                             height="1em"
                                             viewBox="0 0 16 16"
                                             class="bi bi-trash-fill"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg"
                                             (click)="removeStationVehicle(stationIndex,vehicleIndex)">
                                            <path fill-rule="evenodd"
                                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                        </svg>
                                        <svg width="1em"
                                             height="1em"
                                             viewBox="0 0 16 16"
                                             class="bi bi-plus-circle"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg"
                                             (click)="addStationVehicle(stationIndex)">
                                            <path fill-rule="evenodd"
                                                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                            <path fill-rule="evenodd"
                                                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                            <path fill-rule="evenodd"
                                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-sm-6 col-form-label">Số tài xế</label>
                            <div class="col-sm-6">
                                <input type="number"
                                       class="form-control"
                                       [(ngModel)]="station.totalDriver">
                            </div>
                        </div>
                        <div>
                            <div class="mb-2">Xe dự phòng :</div>
                            <div class="border p-1 m-1">
                                <div class="d-flex row my-1"
                                     *ngFor="let vehicleBackup of station.vehicleBackups; let vehicleBackupIndex = index;">
                                    <div class="form-group col-5 d-flex mb-0">
                                        <label class="w-50 col-form-label">Số xe</label>
                                        <div class="w-50">
                                            <input type="number"
                                                   class="form-control"
                                                   [(ngModel)]="vehicleBackup.amount">
                                        </div>
                                    </div>
                                    <div class="form-group col-5 d-flex mb-0">
                                        <label class="w-50 col-form-label">Số ghế</label>
                                        <div class="w-50">
                                            <input type="number"
                                                   class="form-control"
                                                   [(ngModel)]="vehicleBackup.type">
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center">
                                        <svg width="1em"
                                             height="1em"
                                             viewBox="0 0 16 16"
                                             class="bi bi-trash-fill"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg"
                                             (click)="removeStatiponVehicleBackup(stationIndex,vehicleBackupIndex)"
                                             >
                                            <path fill-rule="evenodd"
                                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                        </svg>
                                        <svg width="1em"
                                             height="1em"
                                             viewBox="0 0 16 16"
                                             class="bi bi-plus-circle"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg"
                                             (click)="addStatiponVehicleBackup(stationIndex)"
                                             >
                                            <path fill-rule="evenodd"
                                                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                            <path fill-rule="evenodd"
                                                  d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                            <path fill-rule="evenodd"
                                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 border p-2">
            <div class="tab-sets">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           [ngClass]="{'active': selectStation === 0}"
                           (click)="changeStation(0)">Bến xe A -> Bến xe B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           [ngClass]="{'active': selectStation === 1}"
                           (click)="changeStation(1)">Bến xe B -> Bến xe A</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="form-group row m-1"
                     *ngFor="let t of timelines[selectStation]">
                    <label class="col-sm-2 col-form-label">{{t.label | date:'HH:mm'}}</label>
                    <div class="col-sm-10">
                        <input type="number"
                               class="form-control w-25"
                               [(ngModel)]="t.value">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right p-2">
        <button type="button"
                class="btn btn-primary"
                (click)="createSchedule()">Tạo lịch trình</button>
    </div>
    <div>
        <table border="solid">
            <tr class="text-center">
                <th>Giờ</th>
                <th>Bến xe A</th>
                <th>Bến Xe B</th>
            </tr>
            <tr *ngFor="let timeline of timelines[0]">
                <td class="p-1">
                    {{timeline.label | date:'HH:mm'}}
                </td>
                <td class="p-1">
                    <div class="d-flex flex-column">
                        <div class="p-1 cursor d-flex"
                             (dblclick)="clearSelect($event)"
                             *ngFor="let schedule of getScheduleOfStation(timeline.label,0)">
                            <div class="p-1"
                                 [ngClass]="{'bg-success': schedule?.driver?.id && select === schedule?.driver.id}"
                                 (click)="setSelect(schedule.driver.id)">
                                {{schedule?.driver?schedule.driver.name:'Không đủ tài xế'}}</div> *
                            <div class="p-1"
                                 [ngClass]="{'bg-primary': schedule?.vehicle?.id && select === schedule?.vehicle.id}"
                                 (click)="setSelect(schedule.vehicle.id)">
                                {{schedule?.vehicle?schedule.vehicle.name:'Không đủ xe'}} ({{schedule.customer}})</div>
                        </div>
                    </div>
                </td>
                <td class="p-1">
                    <div class="d-flex flex-column">
                        <div class="d-flex cursor"
                             (dblclick)="clearSelect($event)"
                             *ngFor="let schedule of getScheduleOfStation(timeline.label,1)">
                            <div class="p-1"
                                 [ngClass]="{'bg-success': schedule?.driver?.id && select === schedule?.driver.id}"
                                 (click)="setSelect(schedule.driver.id)">
                                {{schedule?.driver?schedule.driver.name:'Không đủ tài xế'}}</div> *
                            <div class="p-1"
                                 [ngClass]="{'bg-primary': schedule?.vehicle?.id && select === schedule?.vehicle.id}"
                                 (click)="setSelect(schedule.vehicle.id)">
                                {{schedule?.vehicle?schedule.vehicle.name:'Không đủ xe'}} ({{schedule.customer}})</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>