<div class="h-100 w-100 d-flex justify-content-center align-items-center row m-0 p-0">
    <form nz-form
          [formGroup]="formLogin"
          class="col-10 col-sm-6 col-md-4"
          (ngSubmit)="submitForm()">
        <div class="title text-center mb-2">
            MANAGER
        </div>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text"
                           nz-input
                           formControlName="username"
                           placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password"
                           nz-input
                           formControlName="password"
                           placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div nz-row
             class="login-form-margin d-flex justify-content-end">
            <!-- <div nz-col
                 [nzSpan]="12">
                <label nz-checkbox
                       formControlName="remember">
                    <span>Remember me</span>
                </label>
            </div> -->
            <!-- <div nz-col
                 [nzSpan]="12"> -->
            <a class="login-form-forgot">Forgot password</a>
            <!-- </div> -->
        </div>
        <button nz-button
                class="login-form-button login-form-margin"
                [nzType]="'primary'">Log in</button>
        Or register now!
    </form>
</div>