form {
    max-width: 350px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.title {
    font-family: "Chewy", cursive;
    font-size: 2.5rem;
}
