<nz-header class="p-1 pr-3">
    <div class="col-1 col-sm-0 col-md-0"></div>
    <h2 class="col-6 col-sm-9 col-md-10 m-0 h-title">Add User</h2>
    <button class="col-5 col-sm-3 col-md-2"
            nz-button
            nzType="primary"
            (click)="cancel()">Back</button>
</nz-header>
<nz-content>
    <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Add</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
        <form nz-form
              [formGroup]="formUser"
              (ngSubmit)="save()">
            <nz-form-item>
                <nz-form-label [nzSm]="6"
                               [nzXs]="24"
                               nzRequired
                               nzFor="fullname">Fullname</nz-form-label>
                <nz-form-control [nzSm]="14"
                                 [nzXs]="24"
                                 nzErrorTip="The input is not valid fullname!">
                    <input nz-input
                           formControlName="fullname"
                           id="fullname" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6"
                               [nzXs]="24"
                               nzFor="birthday"
                               nzRequired>BirthDay</nz-form-label>
                <nz-form-control [nzSm]="14"
                                 [nzXs]="24"
                                 nzErrorTip="Please input your birthday!">
                    <nz-date-picker formControlName="birthday"
                                    [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6"
                               [nzXs]="24"
                               nzFor="gender"
                               nzRequired>Gender</nz-form-label>
                <nz-form-control [nzSm]="14"
                                 [nzXs]="24"
                                 nzErrorTip="Please input your gender!">
                    <nz-radio-group formControlName="gender">
                        <label nz-radio
                               nzValue="male">Nam</label>
                        <label nz-radio
                               nzValue="female">Nữ</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6"
                               [nzXs]="24"
                               nzFor="phoneNumber"
                               nzRequired>Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14"
                                 [nzXs]="24"
                                 [nzValidateStatus]="formUser.controls['phoneNumber']"
                                 nzErrorTip="Please input your phone number!">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select class="phone-select"
                                       formControlName="phoneNumberPrefix">
                                <nz-option nzLabel="+84"
                                           nzValue="+84"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber"
                               type="number"
                               id="phoneNumber"
                               nz-input />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6"
                               [nzXs]="24"
                               nzRequired
                               nzFor="email">Email</nz-form-label>
                <nz-form-control [nzSm]="14"
                                 [nzXs]="24"
                                 nzErrorTip="The input is not valid email!">
                    <input nz-input
                           formControlName="email"
                           type="email"
                           id="email" />
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item nz-row
                          class="register-area">
                <nz-form-control [nzSpan]="14"
                                 [nzOffset]="6">
                    <label nz-checkbox
                           [(ngModel)]="success"
                           [ngModelOptions]="{standalone: true}">
                        <span>I have read the <a>agreement</a></span>
                    </label>
                </nz-form-control>
            </nz-form-item> -->
            <nz-form-item nz-row
                          class="register-area">
                <nz-form-control [nzSpan]="14"
                                 [nzOffset]="6">
                    <button nz-button
                            nzType="primary"
                            [disabled]="formUser.invalid">Save</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</nz-content>