[nz-form] {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

.ant-picker {
    width: 100%;
}

::ng-deep span {
    display: inherit;
}
