<!-- <div>
    <button routerLink="seach"
            type="button"
            class="btn btn-primary">Seach</button>
    <button routerLink="schedule"
            type="button"
            class="btn btn-success">Schedule</button>
    <button routerLink="schedule/v2"
            type="button"
            class="btn btn-danger">ScheduleV2</button>
</div> -->