$i: 1;
$width: 5%;
$height: 500px;

@mixin colu {
    @while $i < 5 {
        .colu-#{$i} {
            width: $width * $i;
            height: $height / $i;
            background-color: red;
        }
        $i: $i + 1;
    }
}

@function getValue($param) {
    @return $param * 100;
}

@include colu;

.button {
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    span {
        position: relative;
    }
    &::before {
        --size: 0;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
    }
    &:hover::before {
        --size: 400px;
    }
}

.box {
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    width: 500px;
    height: 500px;
    span {
        position: absolute;
        display: none;
        width: 150px;
        height: 50px;
        margin-top: 4px;
        margin-left: 4px;
    }

    &::before {
        transition: width 0.2s ease, height 0.2s ease;
        display: block;
    }

    &:hover {
        span {
            display: block;
        }
    }
}

.toggle {
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    background-color: rgb(177, 177, 177);
}

.btn-toggle {
    position: absolute;
    border: 0.5px solid black;
    border-radius: 50px;
    margin-left: -1px;
    margin-top: -1px;
    width: 48px;
    height: 48px;
    background-color: white;
    transition: all 0.5s;
    z-index: 100;
}

.toggle-on {
    transform: translate(150px, 0);
}

.toggle-on-label {
    position: absolute;
    display: none;
    top: 25%;
    padding-left: 5px;
    z-index: 50;
}

.toggle-off-label {
    position: absolute;
    top: 25%;
    text-align: right;
    padding-right: 5px;
    z-index: 50;
}

.bgr-on {
    background-color: rgb(26, 156, 26);
}

.disabled {
    pointer-events: none;
}

.disabled .btn-toggle {
    background-color: rgb(223, 222, 222);
}

.box-rep {
    height: 100px;
    background-color: red;
    @media screen and (min-width: 500px) {
        width: 50%;
    }

    @media screen and (min-width: 1000px) {
        width: 50%;
        background-color: blue;
    }
}

// ::ng-deep .ant-pagination-item-link {
//     align-items: center;
//     justify-content: center;
//     display: flex;
// }

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}
