<!-- <div class="p-5">
    <button class="button"
            #btn
            id="btn">
        <span>Hover me I'm awesome</span>
    </button>

    <div class="d-flex flex-column">
    <div class="colu-1"></div>
    <div class="colu-2"></div>
    <div class="colu-3"></div>
    <div class="colu-4"></div>
</div>

    <div class="d-flex align-items-end">
        <div class="colu-1"></div>
        <div class="colu-2"></div>
        <div class="colu-3"></div>
        <div class="colu-4"></div>
    </div>


    <div class="box"
         id="box">
        <span id="span">
            Hello Word!
        </span>
    </div>

    <div class="move"
         id="">
        <span>

        </span>
    </div>
    <div class="row">
        <h1 class="col-12">Toggle</h1>
        <div class="col-6">
            <div class="toggle"
                 id="box-toggle">
                <div id="toggle"
                     class="btn-toggle"
                     (click)="toggle()">
                </div>
                <div class="w-100 toggle-on-label"
                     id="toggle-on-label">
                    {{!style.labelOn || style.labelOn === '' ? 'ON' : style.labelOn}}
                </div>
                <div class="w-100 toggle-off-label"
                     id="toggle-off-label">
                    {{!style.labelOff || style.labelOff === '' ? 'OFF' : style.labelOff }}
                </div>
            </div>

            <button class="m-2"
                    (click)="enabled()">Enabled</button>
            <button class="m-2"
                    (click)="disabled()">Disabled</button>
        </div>
        <div class="col-6">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Width</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="style.width"
                               [ngModelOptions]="{standalone: true}"
                               id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Height</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="style.height"
                               [ngModelOptions]="{standalone: true}"
                               id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Label on</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="style.labelOn"
                               [ngModelOptions]="{standalone: true}"
                               id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Label off</label>
                        <input type="text"
                               class="form-control"
                               [(ngModel)]="style.labelOff"
                               [ngModelOptions]="{standalone: true}"
                               id="inputPassword4">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Background color on</label>
                        <input type="text"
                               [(ngModel)]="style.backgroundColorOn"
                               [ngModelOptions]="{standalone: true}"
                               class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Background color off</label>
                        <input type="text"
                               [(ngModel)]="style.backgroundColorOff"
                               [ngModelOptions]="{standalone: true}"
                               class="form-control">
                    </div>
                </div>
                <button class="btn btn-primary"
                        (click)="changeStyleToggle()">Change</button>
            </form>
        </div>
    </div>
</div>
 -->

<!-- <div class="box-rep">

 </div> -->

<div class="p-5">
    <!-- <div class="p-1">
        <button nz-button
                nzType="primary">Primary</button>
        <button nz-button
                nzType="default"
                nzDanger>Danger Default</button>
    </div>
    <div class="p-1">
        <nz-pagination [nzPageIndex]="1"
                       [nzPageSize]="5"
                       [nzTotal]="100"></nz-pagination>
    </div>
    <div class="p-1">
        <nz-table #basicTable
                  [nzData]="listOfData"
                  [nzPageSize]="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.address }}</td>
                    <td>
                        <a>Action 一 {{ data.name }}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a>Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="p-1">
        <nz-table #nestedTable
                  [nzData]="listOfParentData"
                  [nzPageSize]="5">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>Version</th>
                    <th>Upgraded</th>
                    <th>Creator</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor
                             let-data
                             [ngForOf]="nestedTable.data">
                    <tr>
                        <td [(nzExpand)]="data.expand"></td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.platform }}</td>
                        <td>{{ data.version }}</td>
                        <td>{{ data.upgradeNum }}</td>
                        <td>{{ data.creator }}</td>
                        <td>{{ data.createdAt }}</td>
                        <td>
                            <a>Publish</a>
                        </td>
                    </tr>
                    <tr [nzExpand]="data.expand">
                        <nz-table #innerTable
                                  [nzData]="listOfChildrenData"
                                  nzSize="middle"
                                  [nzShowPagination]="false">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Upgrade Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
            <tbody>
                <tr *ngFor="let data of innerTable.data">
                    <td>{{ data.date }}</td>
                    <td>{{ data.name }}</td>
                    <td>
                        <nz-badge [nzStatus]="'success'"
                                  [nzText]="'Finished'"></nz-badge>
                    </td>
                    <td>{{ data.upgradeNum }}</td>
                    <td>
                        <span class="table-operation">
                            <a nz-dropdown
                               class="operation"
                               [nzDropdownMenu]="menu"> Pause <i nz-icon
                                   nzType="down"></i> </a>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>
                                        <a>Action 1</a>
                                    </li>
                                    <li nz-menu-item>
                                        <a>Action 2</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a class="operation">Stop</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a>More</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        </tr>
        </ng-template>
        </tbody>
        </nz-table>
    </div> -->
</div>