<div class="p-4">
    <div class="row">
        <div [formGroup]="formSeach"
             class="col-3 d-flex flex-column border pt-3 h-100">
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       placeholder="Nhập tên sản phẩm"
                       aria-label="Recipient's username"
                       aria-describedby="button-addon2"
                       formControlName="name">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            id="button-addon2"
                            (click)="seach()"><svg width="1em"
                             height="1em"
                             viewBox="0 0 16 16"
                             class="bi bi-search"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg></button>
                </div>
            </div>
            <div class="form-group">
                <label>Loại sản phẩm</label>
                <select class="form-control"
                        formControlName="type">
                    <option value=''>All</option>
                    <option value='{{type.value}}'
                            *ngFor="let type of types">{{type.label}}</option>
                </select>
            </div>
            <div formArrayName="trademarks">
                <label>Hãng sản xuất</label>
                <div *ngFor="let trademark of trademarkFormGroup['controls']; let trademarkIndex = index ;">
                    <div class="form-group form-check"
                         [formGroupName]="trademarkIndex">
                        <input type="checkbox"
                               class="form-check-input"
                               formControlName="status">
                        <label class="form-check-label"
                               for="exampleCheck1">{{trademark.controls.name.value}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 row">
            <div class="col-3 p-2"
                 *ngFor="let p of productFilter">
                <div class="d-flex flex-column border p-2">
                    <div>{{p.name}}</div>
                    <div>{{p.type}}</div>
                    <div>{{p.trademark}}</div>
                    <div>{{p.price | number}} VNĐ</div>
                </div>
            </div>
        </div>
    </div>
</div>