<nz-layout class="h-100">
    <nz-sider class="mobile"
              nzCollapsible
              nzWidth="250px"
              nzBreakpoint="lg"
              [nzCollapsedWidth]="0">
        <ul nz-menu
            nzTheme="dark"
            nzMode="inline">
            <li nz-submenu
                [nzTitle]="titleuser"
                class="logo">
                <ul>
                    <li nz-menu-item>
                        <i nz-icon
                           nzType="user"></i>
                        <span>Thông tin cá nhân</span>
                    </li>
                    <li nz-menu-item
                        (click)="logout()">
                        <i nz-icon
                           nzType="logout"></i>
                        <span>Đăng xuất</span>
                    </li>
                </ul>
            </li>
            <!-- <li nz-menu-item
                class="logo">
                <i nz-icon
                   nzType="medium"
                   nzTheme="outline"></i>
                <span>Manager</span>
            </li> -->
            <li nz-submenu
                nzTitle="Manager User"
                nzIcon="team">
                <ul>
                    <li nz-menu-item
                        routerLink="/user">List</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-sider class="desktop"
              nzCollapsible
              nzWidth="250px">
        <ul nz-menu
            nzTheme="dark"
            nzMode="inline">
            <li nz-submenu
                [nzTitle]="titleuser"
                class="logo">
                <ul>
                    <li nz-menu-item>
                        <i nz-icon
                           nzType="user"></i>
                        <span>Thông tin cá nhân</span>
                    </li>
                    <li nz-menu-item
                        (click)="logout()">
                        <i nz-icon
                           nzType="logout"></i>
                        <span>Đăng xuất</span>
                    </li>
                </ul>
            </li>
            <!-- <li nz-menu-item
              class="logo">
              <i nz-icon
                 nzType="medium"
                 nzTheme="outline"></i>
              <span>Manager</span>
          </li> -->
            <li nz-submenu
                nzTitle="Manager User"
                nzIcon="team">
                <ul>
                    <li nz-menu-item
                        routerLink="/user">List</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <!-- <nz-header></nz-header> -->
        <!-- <nz-content> -->
        <router-outlet></router-outlet>
        <!-- </nz-content> -->
        <!-- <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer> -->
    </nz-layout>
</nz-layout>

<ng-template #titleuser>
    <i nzIcon>
        <!-- <nz-avatar nzSize="large"
                   nzIcon="user"></nz-avatar> -->
        <!-- <nz-avatar nzIcon="user"
                   style="color:#f56a00; background-color:#fde3cf;"></nz-avatar> -->
        <nz-avatar nzIcon="user"
                   nzSize="large"
                   style="background-color:#87d068;"></nz-avatar>
    </i>
    <span class="d-flex flex-column">
        <span class="name-user">Trần Tiến</span>
        <span>tientv@gmail.com</span>
    </span>
</ng-template>

<!-- <ng-template #menu>
    <ul nz-menu
        nzTheme="dark"
        nzMode="inline">
        <li nz-submenu
            [nzTitle]="titleuser"
            class="logo">
            <ul>
                <li nz-menu-item>
                    <i nz-icon
                       nzType="user"></i>
                    <span>Thông tin cá nhân</span>
                </li>
                <li nz-menu-item>
                    <i nz-icon
                       nzType="logout"></i>
                    <span>Đăng xuất</span>
                </li>
            </ul>
        </li>
        <li nz-submenu
            nzTitle="Manager User"
            nzIcon="user">
            <ul>
                <li nz-menu-item
                    routerLink="/user">List</li>
            </ul>
        </li>
    </ul>
</ng-template> -->