// .logo {
//     display: flex;
//     justify-content: center;
//     font-size: 1.5rem;
//     color: #fff;
//     font-weight: bold;
//     padding: 0px !important;
//     background-color: #001529 !important;
//     i {
//         font-size: 2rem;
//     }
// }

.title {
    color: white;
}

nz-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    ::ng-deep i {
        font-size: 1.5rem !important;
    }
}

.ant-menu-item,
::ng-deep .ant-menu-submenu-title {
    display: flex;
    align-items: center;
}

nz-footer {
    text-align: center;
}

nz-sider {
    z-index: 99;
    justify-content: center;
}

nz-layout {
    z-index: 1;
}

::ng-deep .ant-layout-sider-zero-width-trigger {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 250px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.45) !important;
    opacity: 0.5;
    i {
        display: none;
    }
}

.mobile {
    position: absolute;
    display: none;
    min-height: 100% !important;
}

::ng-deep .ant-layout-sider-zero-width {
    ::ng-deep .ant-layout-sider-zero-width-trigger {
        top: 20px;
        left: 5px;
        position: absolute;
        width: 26px;
        height: 26px;
        cursor: pointer;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0) !important;
        color: #001529 !important;
        i {
            display: block;
        }
    }
}

::ng-deep .ant-layout-sider-children {
    width: 100%;
}

::ng-deep .anticon-bars {
    font-size: 25px;
}

@media only screen and (max-width: 576px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

.logo {
    justify-content: left;
    color: white !important;
    i {
        margin-right: 10px;
    }
    ::ng-deep .ant-menu-submenu-title {
        height: 45px !important;
    }
}

.name-user {
    height: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

::ng-deep .ant-menu-inline-collapsed {
    .logo {
        ::ng-deep .ant-menu-submenu-title {
            justify-content: center;
            i {
                margin-right: 0px;
            }
            span {
                display: none;
            }
        }
    }
}
