/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.ant-form-item {
    margin: 0 0 15px;
}

nz-header {
    background: #fff !important;
    padding: 0;
}

.ant-layout-header {
    display: flex;
    align-items: center;
    padding: 0px;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    min-height: 360px;
}

nz-pagination {
    margin-right: 10px !important;
}

.h-title {
    font-size: 1.8em;
}

@media (min-width: 576px) {
    .col-sm-0 {
        display: none;
    }
}

@media (max-width: 576px) {
    nz-form-control {
        margin: 0px !important;
    }
}
